TCP_TAP_FIRST_PORT=6969
#TCP_TAP_NICNAME='@ANY@'
TCP_TAP_NICNAME='@HOSTNAME@'
TCP_TAP_XTERM_DELAY=1
TCP_TAP_CMD=gdb
TAP_LOG_NAME=/tmp/.gdb.tap.sh.log
TAP_LOG=yes
TAP_SIDE_SESSION=no
TAP_SIDE_SESSION_EXEC=gdb.telnet.sh
TCP_TAP_LOG_STDIN=/dev/null
TCP_TAP_LOG_STDOUT=/dev/null
TCP_TAP_LOG_STDERR=/dev/null
TCP_TAP_LOG_PARENT=/dev/null
TCP_TAP_LOG_CHILD=/dev/null
#XTELNET_GEOMETRY=-geometry 132x88--6+21
